.statistics {
  text-align: center;
  padding-bottom: 50px;
}

h2 {
  font-size: 1.6em;
  margin-bottom: 40px;
}

h3 {
  font-size: 1.3em;
  margin-bottom: 15px;
}

.stats-important {
  font-size: 1.3em;
  font-weight: bold;
}

.stats-list {
  background-color: #dedede;
}

.stats-list-item {
  padding: 15px;
  border-bottom: 1px dashed #7f7f7f;
}

.stats-list-item:first-child {
  border-top: 1px dashed #7f7f7f;
}

.pomodoro-amount {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}

.stats-semi-important {
  font-size: 1.3em;
  margin-bottom: 5px;
}

.task-pomodoro {
  margin: 0;
}

.top-task-item {
  background: #f1dbdb;
  padding-bottom: 8px;
  margin-bottom: 20px;
  border: 1px dotted #dedede;
}

.top-task-item:last-child {
  margin: 0;
}
