<div class="todo-list">
  <h2>Todo list</h2>
  <ul *ngIf="(tasks && tasks.length > 0); else emptyTasksTemplate" class="tasks">
    <li *ngFor="let task of tasks" class="todo-list-item task-{{task.status}}">
      <span class="task-number">{{task.id}}</span>
      <span class="task-title">{{task.title}}</span>
      <span class="task-status-{{task.status}}">{{task.status | uppercase}}</span>
      <div class="todo-list-item-btns">
     <span *ngIf="task.pomodoro > 0" class="task-pomodoro-amount" title="{{task.pomodoro}} pomodoro">{{task.pomodoro}}<span class="task-pomodoro"></span></span>
      <button class="todo-list-item-btn btn-change-status" (click)="toggleTask(task)">{{ (task.status == TaskStatusType.IN_PROGRESS ? "Stop" : "Start") }}</button>
      <button class="todo-list-item-btn btn-edit" (click)="editedTask = task; isEditTask=true;">Edit</button>
      <button class="todo-list-item-btn btn-delete" (click)="delete(task)">Delete</button>
      <button class="todo-list-item-btn btn-done" (click)="done(task)">{{ (task.status == TaskStatusType.DONE ? "Reopen" : "Done") }}</button>
      </div>
    </li>
  </ul>

  <nav class="task-nav">
    <button *ngIf="!isCreateTask" (click)="isCreateTask=true;" class="new-task">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </nav>

  <div *ngIf="isCreateTask" class="fade">
    <div class="task-popup">
      <h4>Create a new task</h4>
      <label>
        <p>Enter a task title, please</p>
        <input #taskTitle placeholder="task title" class="popup-task-input" />
      </label>
      <div class="popup-task-btns">
        <button (click)="add(taskTitle.value); taskTitle.value=''" class="popup-task-ok">
          add
        </button>
        <button (click)="isCreateTask=false;" class="popup-task-cancel">cancel</button>
      </div>
    </div>
  </div>

    <div *ngIf="isEditTask" class="fade">
    <div class="task-popup">
      <h4>Edit a task</h4>
      <label>
        <p>Enter a new task title, please</p>
        <input #newTaskTitle placeholder="new task title" class="popup-task-input" />
      </label>
      <div class="popup-task-btns">
        <button (click)="edit(newTaskTitle.value); newTaskTitle.value=''" class="popup-task-ok">
          ok
        </button>
        <button (click)="isEditTask=false;" class="popup-task-cancel">cancel</button>
      </div>
    </div>
  </div>

  <ng-template #emptyTasksTemplate>
    <div class="empty-tasks-template">
    You don't have tasks. Enjoy your day!
  </div>
  </ng-template>
</div>
