.empty-tasks-template {
  margin-top: 30px;
  font-size: 1.3em;
}

.todo-list {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #dedede;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  font-size: 1.4em;
}

.tasks {
  font-size: 1.1em;
  padding: 20px;
}

.tasks .todo-list-item {
  text-align: left;
  padding: 15px;
  border-bottom: 1px solid #dedede;
}

.tasks .todo-list-item:hover {
  background: #dedede;
  border-color: transparent;
  border-radius: 4px;
}

.todo-list-item.task-done .task-number,
.todo-list-item.task-done .task-title {
  color: #949494;
  text-decoration: line-through;
}

.tasks .todo-list-item .todo-list-item-btn {
  vertical-align: middle;
  padding: 3px;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  color: #fff;
}

.todo-list-item-btn:hover {
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
}

.task-number,
.task-title {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.task-number {
  width: 30px;
}

.task-title {
  width: 200px;
}

.task-status-open {
  color: #0c0;
}

.task-status-in-progress {
  color: #ff5008;
}

.task-status-done {
  color: #000;
}

.todo-list-item-btns {
  float: right;
}

.todo-list-item .btn-change-status {
  background: rgba(150, 100, 100, 1);
}

.todo-list-item .btn-edit {
  background: rgba(130, 200, 160, 1);
}

.todo-list-item .btn-delete {
  background: rgba(110, 90, 90, 1);
}

.todo-list-item .btn-done {
  background: #39f;
}

.fade {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.task-popup {
  position: fixed;
  background-color: #ddd;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
}

.task-popup h4 {
  font-size: 1.4em;
  margin-bottom: 25px;
}

.task-nav {
  position: absolute;
  top: 15px;
  right: 57px;
}

.task-nav button {
  border: none;
  float: right;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #fff;
  background: none;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
  cursor: pointer;
  margin-left: 7px;
}

.task-nav .find-task {
  background-color: #5c8ab8;
  font-size: 1.05em;
}

.task-nav .new-task {
  background-color: #fa5a5a;
  font-size: 1.05em;
  padding-top: 3px;
}

.new-task:hover {
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 1, 0.7);
  transition: all 0.3s;
}

.popup-task-input {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 5px 10px;
  border-radius: 2px;
  border: 1px solid #666;
}

.popup-task-btns button {
  cursor: pointer;
}

.popup-task-cancel:before {
  content: '×';
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: #fa5a5a;
  border-radius: 50%;
  right: -7px;
  top: -7px;
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
}
