<div class="active-task">
  <div *ngIf="activeTaskId" class="active-task-status">{{taskStatus}}</div>
  <div class="active-task-value">
    <span *ngIf="activeTaskId" class="active-task-id">{{activeTaskId}}</span>
    {{activeTaskTitle}}
  </div>
</div>
