h1 {
  font-size: 1.6em;
  text-align: center;
  margin-top: 30px;
}

nav {
  padding: 30px 10px;
  text-align: center;
}

nav .btn {
  background: linear-gradient(to bottom, rgba(130, 200, 160, 1) 0%, rgba(124, 185, 149, 1) 100%);
}
