<h1>{{title}} <span class="task-pomodoro task-pomodoro-big"></span></h1>
<nav>
  <a routerLink="/timer" class="btn">Timer</a>
  <a routerLink="/stats" class="btn">Statistics</a>
  <a routerLink="/history" class="btn">History</a>
</nav>
<router-outlet></router-outlet>
<app-notifications></app-notifications>