<div class="timer">
<ul class="timer-btns">
	<li class="timer-btn-play"><button (click)="startTimer(30, { type: TimerType.POMODORO })" class="btn">New Pomodoro</button></li>
	<li class="timer-btn-short"><button (click)="startTimer(5, { type: TimerType.BREAK })" class="btn">Short break</button></li>
	<li class="timer-btn-long"><button (click)="startTimer(15, { type: TimerType.BREAK })" class="btn">Long break</button></li>
</ul>

<div class="timer-digits">{{timeleft | secondsToTime}}</div>

<ul *ngIf="timerStarted" class="timer-btns timer-bottom-btns">
	<li  class="timer-btn-pause"><button (click)="pauseTimer()" class="btn">Pause timer</button></li>
	<li class="timer-btn-resume"><button (click)="resumeTimer()" class="btn">Resume timer</button></li>
	<li class="timer-btn-stop"><button (click)="stopTimer()" class="btn">Stop timer</button></li>
</ul>
<app-active-task></app-active-task>
</div>
<app-todo-list></app-todo-list>