.notification {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #ff9b9b;
	border: 1px solid #ff3535;
	padding: 10px 20px;
	color: #a44646;
}

.notification h2 {
	font-size: 1.2em;
	margin-bottom: 10px;
}